:root {
    --fonte-primaria: "Dancing Script", cursive;
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    margin: auto;
     box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.623)/* Lateral Vertical Espalhamento*/;
    color:black;  
    opacity: 90%;
}

h1 {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 70px;
    margin-bottom: 20px;
}

div{
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 30px;
}
